
body{
    background-color: var(--primary-color);
    position: relative;
    left: 20px;
  }
  
  .header{
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(59, 0, 59);
  }
  
  p{
  
    font-weight: bold;
    line-height:1.2em; 
    margin-bottom:1.2em;
  }
  
  h2{
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(59, 0, 59);
  
  }
  ul{
    font-weight: bold;
  }
  li{
    line-height:1.2em; 
    margin-bottom:1.2em;
  }